<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta http-equiv="mobile-agent" content="format=html5; url=https://shuoit.net/">
<title>首页 - 简书</title>
<link rel="stylesheet" media="all" href="./css/base.css">
<link rel="stylesheet" media="all" href="./css/reading.css">
<link rel="stylesheet" media="all" href="./css/base-read-mode.css">
<script src="js/modernizr.js"></script>
</head>

<body class="output fluid zh cn win reader-day-mode reader-font1" data-js-module="recommendation" data-locale="zh-CN">

<!-- 小屏模式header -->
<div class="navbar navbar-jianshu shrink">
    <div class="dropdown">
        <a class="dropdown-toggle logo" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
           href="javascript:void(0)">IT</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="http://www.jianshu.com/"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="http://www.jianshu.com/collections"><i class="fa fa-th"></i> 专题</a></li>
            <li><a href="http://www.jianshu.com/user_invitations"><i class="fa fa-money"></i> 发钱啦</a></li>
        </ul>
    </div>
</div>

<!-- 用户相关 -->
<div class="navbar-user">
    <a class="login" data-signup-link="true" data-toggle="modal" href="http://www.jianshu.com/sign_up">
        <i class="fa fa-user"></i> 注册
    </a>
    <a class="login" data-signin-link="true" data-toggle="modal" href="http://www.jianshu.com/sign_in">
        <i class="fa fa-sign-in"></i> 登录
    </a> <a class="daytime set-view-mode pull-right" href="javascript:void(0)"><i class="fa fa-moon-o"></i></a>
</div>

<!-- 左侧栏 -->
<div class="navbar navbar-jianshu expanded">
    <div class="dropdown">
        <a class="active logo" role="button" data-original-title="网站主页" data-container="div.expanded" href="#">
            <b>简</b><i class="fa fa-home"></i><span class="title">首页</span>
        </a>
        <a data-toggle="tooltip" data-placement="right" data-original-title="标签" data-container="div.expanded" href="#">
            <i class="fa fa-th"></i><span class="title">标签</span>
        </a>
        <a class="ad-selector" href="http://www.jianshu.com/apps">
            <i class="fa fa-mobile"></i><span class="title">下载手机应用</span>
        </a>
        <div class="ad-container " style="display: none;">
            <div class="ad-pop">
                <img class="ad-logo" src="./images/logo.png"/>
                <p class="ad-title">简书</p>
                <p class="ad-subtitle">交流故事，沟通想法</p>
                <img class="ad-qrcode" src="./images/download-app-qrcode.png"
                     alt="Download app qrcode">
                <div>
                    <a class="ad-link" href="https://itunes.apple.com/cn/app/jian-shu/id888237539?ls=1&amp;mt=8">iOS</a>·
                    <a class="ad-link" href="http://downloads.jianshu.io/apps/haruki/JianShu-1.11.1.apk">Android</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-user">
        <a href="http://www.jianshu.com/#view-mode-modal" data-toggle="modal"><i class="fa fa-font"></i><span
                class="title">显示模式</span></a>
        <a class="signin" data-signin-link="true" data-toggle="modal" data-placement="right" data-original-title="登录"
           data-container="div.expanded" href="http://www.jianshu.com/sign_in">
            <i class="fa fa-sign-in"></i><span class="title">登录</span>
        </a>
    </div>
</div>

<!-- 中边栏 -->
<div class="row-fluid">
    <div class="recommended">
        <!-- aside -->
        <div class="span3 left-aside">
            <div class="cover-img"
                 style="background-image: url(http://upload.jianshu.io/daily_images/images/UcuAMamvgH4cqqEeqz9d.jpg)"></div>
            <div class="bottom-block">
                <h1>简书</h1>
                <h3>交流故事，沟通想法</h3>
                <p>一个基于内容分享的社区</p>
                <a class="btn btn btn-large btn-success" id="write-button" data-signin-link="true" data-toggle="modal"
                   href="http://www.jianshu.com/sign_in">提笔写篇文章</a>
            </div>
            <div class="img-info">
                <i class="fa fa-info"></i>
                <div class="info">
                    Photo by <a target="_blank" href="http://unsplash.com/">unsplash</a>
                </div>
            </div>
        </div>

        <div class="span7 offset3">
            <div class="page-title" style="width: 957px;">
                <ul class="recommened-nav navigation clearfix" data-container="#list-container"
                    data-loader=".loader-tiny" data-user-slug="">
                    <li class="active">
                        <a data-pjax="true" href="http://www.jianshu.com/trending/now">发现</a>
                    </li>
                    <li class="bonus">
                        <a data-toggle="modal" href="http://www.jianshu.com/#time-machine-modal"
                           data-name="time_machine">
                            时光机
                        </a>
                    </li>
                    <li class="bonus">
                        <a href="http://www.jianshu.com/zodiac/2015"><i class="fa fa-bars"></i> 2015精选</a>
                    </li>
                    <img class="hide loader-tiny" src="./images/tiny.gif" alt="Tiny">
                    <li class="search">
                        <form class="search-form" target="_blank" action="http://www.jianshu.com/search"
                              accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                            <input type="search" name="q" id="q" placeholder="搜索" class="input-medium search-query">
                            <span class="search_trigger" onclick="">
                                <i class="fa fa-search"></i></span>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- 文章列表 -->
            <div id="list-container">
                <ul class="article-list thumbnails">
                    <li class="have-img">
                        <a class="wrap-img" href="http://www.jianshu.com/p/6ef29580bf36"><img
                                src="./images/articleThumb.jpg" alt="300"></a>
                        <div>
                            <p class="list-top">
                                <a class="author-name blue-link" target="_blank"
                                   href="http://www.jianshu.com/users/d9edcb44e2f2">简书日报</a>
                                <em>·</em>
                                <span class="time" data-shared-at="2016-07-03T18:00:08+08:00">大约3小时之前</span>
                            </p>
                            <h4 class="title"><a target="_blank" href="http://www.jianshu.com/p/6ef29580bf36">简书晚报160703——《免费的才是最贵的？》</a>
                            </h4>
                            <div class="list-footer">
                                <a target="_blank" href="http://www.jianshu.com/p/6ef29580bf36">阅读 5027</a>
                                <a target="_blank" href="http://www.jianshu.com/p/6ef29580bf36#comments">评论 9</a> <span> · 喜欢 69</span>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- 分页开始 -->
                <div class="load-more">
                    <button class="ladda-button " data-style="slide-left" data-type="script" data-remote=""
                            data-size="medium"
                            data-url="/top/daily?note_ids%5B%5D=4623104&amp;note_ids%5B%5D=4534286&amp;note_ids%5B%5D=4618592&amp;note_ids%5B%5D=4620716&amp;note_ids%5B%5D=4641519&amp;note_ids%5B%5D=4626140&amp;note_ids%5B%5D=4621730&amp;note_ids%5B%5D=4629009&amp;note_ids%5B%5D=4599705&amp;note_ids%5B%5D=4621158&amp;note_ids%5B%5D=4578089&amp;note_ids%5B%5D=4624842&amp;note_ids%5B%5D=4601702&amp;note_ids%5B%5D=4625209&amp;note_ids%5B%5D=4639375&amp;note_ids%5B%5D=4628501&amp;note_ids%5B%5D=4622295&amp;note_ids%5B%5D=4627644&amp;note_ids%5B%5D=4541907&amp;note_ids%5B%5D=4594407&amp;page=2"
                            data-color="maleskine" data-method="get">
                        <span class="ladda-label">点击查看更多</span>
                        <span class="ladda-spinner"></span></button>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- 页脚 -->
<footer>
    <div class="footer-l">
        <p>
            <a href="http://www.jianshu.com/collection/jppzD2" target="_blank">关于简书</a> |
            <a target="_blank" href="http://www.jianshu.com/contact">联系我们</a> |
            <a href="http://www.jianshu.com/collection/fc488cd78374" target="_blank">作者成书计划</a> |
            <a href="http://www.jianshu.com/notebooks/547/latest" target="_blank">帮助中心</a> |
            <a href="http://jianshucom.taobao.com/" target="_blank">简书周边</a> |
            <a href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a> |
        </p>
        <p>©2012-2016 <a href="http://www.jianshu.com/" target="_blank">简书</a> / 沪ICP备11018329号-5 /
            <a target="_blank" href="#">沪公网安备31010602000064号</a>

        </p>
    </div>

    <div class="footer-r pull-right">
        <div>
            关注本站:
            <a href="http://weibo.com/jianshuio" target="_blank">
                <i class="fa fa-weibo"></i>
            </a>
            <a class="weixin" href="http://www.jianshu.com/#share-weixin-modal" data-toggle="modal">
                <i class="fa fa-weixin"></i>
            </a>
            <a href="https://twitter.com/jianshucom" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <br><a href="http://windows.microsoft.com/zh-CN/internet-explorer/download-ie" class="upgrade-ie">本网站不支持
            IE6/IE7，如果您希望继续使用 IE 浏览器，请升级至IE8及以上版本</a>
        </div>
    </div>

    <!--modal-->
    <div class="modal hide fade share-weixin-modal" id="share-weixin-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <p>关注我们的微信公众号，获得每日好文推荐。微信中搜索「简书」或者扫一扫下方二维码：</p>
                    <img src="./images/jianshu_wechat_qrcode.jpg" alt="Jianshu wechat qrcode">
                </div>
            </div>
        </div>
    </div>

</footer>

<div id="flash" class="hide"></div>

<div id="view-mode-modal" tabindex="-1" class="modal hide read-modal" aria-hidden="false"
     data-js-module="view-mode-modal">
    <div class="btn-group change-background" data-toggle="buttons-radio">
        <a class="btn btn-daytime active" data-mode="day" href="javascript:void(null);">
            <i class="fa fa-sun-o"></i>
        </a>
        <a class="btn btn-nighttime " data-mode="night" href="javascript:void(null);">
            <i class="fa fa-moon-o"></i>
        </a>
    </div>
    <div class="btn-group change-font" data-toggle="buttons-radio">
        <a class="btn font active" data-font="font1" href="javascript:void(null);">宋体</a>
        <a class="btn font hei " data-font="font2" href="javascript:void(null);">黑体</a>
    </div>
    <div class="btn-group change-locale" data-toggle="buttons-radio">
        <a class="btn font active" data-locale="zh-CN" href="javascript:void(null);">简</a>
        <a class="btn font hei " data-locale="zh-TW" href="javascript:void(null);">繁</a>
    </div>
</div>

<script src="js/base.js"></script>
<script src="js/reading-base.js"></script>
<script src="js/home.js"></script>

<div id="window-resizer-tooltip" style="display: block;">
    <a href="http://www.jianshu.com/#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span
        class="tooltipWidth" id="winWidth">1903</span> x <span class="tooltipHeight" id="winHeight">1057</span><br><span
        class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1903</span> x <span
        class="tooltipHeight" id="vpHeight">941</span></div>
</body>

</html>