<!DOCTYPE html>
<html>
  <head>
    <%- partial('_partial/header') %>
  </head>
  <body>
    <%- partial('_partial/nav') %>
    <div id="post">
      <div id="pjax">
        <%- body %>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">目录</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
