<div class="page-title">
    <ul>
        <li><a href="/" data-name="首页" title="返回首页">首页</a></li>
        <li><a href="/archives" data-name="归档" title="归档">归档</a></li>
        <li class="page-search">
            <form id="search" method="post" action="" role="search">
                <label for="s" class="sr-only">搜索关键字</label>
                <input type="text" name="s" class="text" placeholder="输入关键字搜索"/>
                <button type="submit" class="submit" title="搜索"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h2 class="post-title">标签</h2>
        </div>
        <div class="post-content markdown-body" itemprop="articleBody">
            <ul class="tag-list">
                <li><a href="https://lixianhua.com/tag/typecho/">typecho(6)</a></li>
                <li><a href="https://lixianhua.com/tag/%E7%A4%BE%E5%8C%BA%E7%B3%BB%E7%BB%9F/">社区系统(3)</a></li>
                <li><a href="https://lixianhua.com/tag/%E5%93%8D%E5%BA%94%E5%BC%8F/">响应式(2)</a></li>
                <li><a href="https://lixianhua.com/tag/%E7%AE%80%E4%B9%A6/">简书(1)</a></li>
                <li><a href="https://lixianhua.com/tag/%E4%B8%BB%E9%A2%98/">主题(1)</a></li>
            </ul>
        </div>
    </article>
</div><!-- end #main-->