<article class="post">
    <div class="post-cover">
        <a href="https://lixianhua.com/clone_jianshu_theme.html"
           title="仿简书响应式Typecho博客主题 (2016.11.28更新)"
           style="background-image:url(https://dn-lee.qbox.me/2015/07/3257680062.png?imageView2/4/w/100/h/90)"></a>
    </div>
    <div class="post-header">
        <div class="post-meta"><a href="https://lixianhua.com/author/1/"><strong>绛木子</strong></a><em>·</em>2016年05月14日
        </div>
        <a class="post-title" href="https://lixianhua.com/clone_jianshu_theme.html"
           title="仿简书响应式Typecho博客主题 (2016.11.28更新)">仿简书响应式Typecho博客主题 (2016.11.28更新)</a>
        <div class="post-meta">

            <a href="https://lixianhua.com/clone_jianshu_theme.html#comments">评论：226</a>
            <em>·</em>
            <a href="https://lixianhua.com/clone_jianshu_theme.html">阅读：60125</a><em>·</em>
            <span>喜欢：248</span>
        </div>
    </div>
    <div class="post-desc">
        2016.11.28更新修复bug添加pjax支持2016.05.14更新页面重制脚本重制部分功能整合到配套插件中暂时去掉了七牛CDN下载:JianShu先安装插件再安装主题，若已安装旧版本，请...
    </div>
</article>


<article class="post">
    <div class="post-header">
        <div class="post-meta"><a href="https://lixianhua.com/author/1/"><strong>绛木子</strong></a><em>·</em>2015年10月23日
        </div>
        <a class="post-title" href="https://lixianhua.com/typecho_forum_3.html"
           title="基于Typecho的社区系统3">基于Typecho的社区系统3</a>
        <div class="post-meta">

            <a href="https://lixianhua.com/typecho_forum_3.html#comments">评论：5</a>
            <em>·</em>
            <a href="https://lixianhua.com/typecho_forum_3.html">阅读：4295</a><em>·</em>
            <span>喜欢：35</span>
        </div>
    </div>
    <div class="post-desc">
        社区系统的功能页面通过路由功能都实现了，但是页面上的表单、表单处理方法却还没有解决继续看Typecho源码，会发现默认的表单操作都是使用action路由的，而action路由对应的组件为Widg...
    </div>
</article>