<li class="page-search">
    <form id="search" method="post" action="" role="search">
        <label for="s" class="sr-only">搜索关键字</label>
        <input type="text" name="s" class="text" placeholder="输入关键字搜索"/>
        <button type="submit" class="submit" title="搜索"><i class="fa fa-search"></i></button>
    </form>
</li>