<li class="page-search">
    <form id="search" class="search-form">
        <label for="s" class="sr-only"><%= __('searchPlaceHolder') %></label>
        <input class="search-field" type="text" name="s" class="text" placeholder="<%= __('searchPlaceHolder') %>" />
        <button type="submit" class="search-form-submit" title="<%= __('search') %>"><i class="fa fa-search"></i></button>
    </form>
    <%- partial('search/insight') %>
</li>
