<% if (config.cnzz_siteid){ %>
<p>
    <script type="text/javascript">
        document.write(unescape("%3Cspan id='cnzz_stat_icon_<%= config.cnzz_siteid %>'%3E%3C/span%3E%3Cscript src='//s4.cnzz.com/stat.php%3Fid%3D<%= config.cnzz_siteid %>%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
    </script>  
</p>
<% } %>