<% if (theme.cnzz_siteid){ %>
<span style="display: none">
<script src="https://s4.cnzz.com/z_stat.php?id=<%= theme.cnzz_siteid %>&web_id=<%= theme.cnzz_siteid %>" language="JavaScript"></script>
</span>
<% }%>