<div class="nav-user">
    <a class="btn-search" href="#" aria-label="content searching link"><i class="fa fa-search"></i></a>
    <a class="btn-read-mode" href="#" aria-label="reading mode chang"><i class="fa fa-sun-o"></i></a>
    <% if(theme.chatLink) { %>
        <a class="btn-sns-qr" href="<%= theme.chatLink %>" aria-label="link for sns chat " target="_blank" rel="external nofollow"><i class="fa fa-telegram"></i></a>    
    <% } %>
</div>