<div class="page-title">
    <ul>
        <li><a href="/"><%= __('recent_posts') %></a></li>
        <%- partial('_widget/search-bar') %>
    </ul>
</div>
<%- partial('_widget/common-article', {post: post}) %>
