<div class="page-title">
    <ul>
        <li><a href="https://lixianhua.com/">最新</a></li>
        <li><a href="javascript:jBlog.ajaxGetExplore();" title="随机显示一篇文章">探索</a></li>
        <li class="page-search">
            <form id="search" method="post" action="./" role="search">
                <label for="s" class="sr-only">搜索关键字</label>
                <input type="text" name="s" class="text" placeholder="输入关键字搜索"/>
                <button type="submit" class="submit" title="搜索"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>

<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h2 class="post-title">归档</h2>
        </div>
        <div class="post-content markdown-body" itemprop="articleBody">
            <div class="archives">
                <div class="archives-item"><h2>2016年05月</h2>
                    <ul class="archives_list">
                        <li>14日 <a href="https://lixianhua.com/clone_jianshu_theme.html">仿简书响应式Typecho博客主题
                                (2016.11.28更新)</a></li>
                    </ul>
                </div>
                <div class="archives-item"><h2>2015年12月</h2>
                    <ul class="archives_list">
                        <li>25日 <a href="https://lixianhua.com/jiang_theme_for_typecho.html">Typecho单栏主题：jiang</a></li>
                    </ul>
                </div>
                <div class="archives-item"><h2>2015年11月</h2>
                    <ul class="archives_list">
                        <li>17日 <a href="https://lixianhua.com/teconnect_plugin_for_typecho.html">TeConnect:Typecho社会化登录插件</a>
                        </li>
                        <li>04日 <a href="https://lixianhua.com/tecomment_plugin_for_typecho.html">Typecho评论增强插件：TeComment</a>
                        </li>
                        <li>03日 <a href="https://lixianhua.com/temenu_plugin_for_typecho.html">Widget主题配套插件：TeMenu</a>
                        </li>
                    </ul>
                </div>
                <div class="archives-item"><h2>2015年10月</h2>
                    <ul class="archives_list">
                        <li>23日 <a href="https://lixianhua.com/widget_theme_for_typecho.html">付费Typecho主题：Widget </a>
                        </li>
                        <li>23日 <a href="https://lixianhua.com/typecho_forum_3.html">基于Typecho的社区系统3</a></li>
                        <li>15日 <a href="https://lixianhua.com/typecho_forum_2.html">基于Typecho的社区系统2</a></li>
                        <li>14日 <a href="https://lixianhua.com/typecho_forum_1.html">基于Typecho的社区系统1</a></li>
                        <li>13日 <a href="https://lixianhua.com/testat_plugin_for_typecho.html">为文章点赞：TeStat插件（2015.11.25更新）</a>
                        </li>
                        <li>03日 <a href="https://lixianhua.com/typecho_forum.html">基于Typecho的社区:Typecho Forum</a></li>
                    </ul>
                </div>
                <div class="archives-item"><h2>2015年08月</h2>
                    <ul class="archives_list">
                        <li>22日 <a href="https://lixianhua.com/book_theme_for_typecho.html">简洁单栏主题Book(2015.10.03更新)</a>
                        </li>
                    </ul>
                </div>
                <div class="archives-item"><h2>2015年06月</h2>
                    <ul class="archives_list">
                        <li>29日 <a href="https://lixianhua.com/coding_postratings_plugin_notes.html">Typecho文章评分插件</a>
                        </li>
                        <li>19日 <a href="https://lixianhua.com/typecho_viewsnum_plugin.html">为Typecho增加浏览数统计功能</a></li>
                        <li>18日 <a href="https://lixianhua.com/start.html">嗯，我也不知道写些什么</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div><!-- end #main-->