<div class="post">
    <div class="article">
        <h1 class="title">这10个领域里的10本好书，你敢挑战吗？</h1>

        <!-- 作者区域 -->
        <div class="author">
            <a class="avatar" href="/u/25f678223142">
                <img thumbnail="144x144"
                     src="http://upload.jianshu.io/users/upload_avatars/1100931/03a65364f654.jpg?imageMogr/thumbnail/144x144"
                     alt="03a65364f654">
            </a>
            <div class="info">
                <span class="tag">作者</span>
                <span class="name"><a href="/u/25f678223142">靳小凡</a></span>
                <!-- 关注用户按钮 -->
                <a class="btn btn-success follow" href="/sign_in"> <i class="iconfont ic-follow"></i><span>关注</span>
                </a>
                <!-- 文章数据信息 -->
                <div class="meta">
                    <span class="publish-time">2017.01.08 08:54</span>
                    <span class="wordage">字数 2838 </span>
                    <span class="views-count">阅读 12154</span><span class="comments-count">评论 229</span><span
                            class="likes-count">喜欢 1793</span></div>
            </div>
            <!-- 如果是当前作者，加入编辑按钮 -->
        </div>
        <!-- -->

        <!-- 文章内容 -->
        <div class="show-content">
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-3e021aa1ef3be29e.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-3e021aa1ef3be29e.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="3e021aa1ef3be29e" data-width="3000" data-height="2000"
                     style="cursor: zoom-in;"><br>
                <div class="image-caption"></div>
            </div>
            <p>上回，我给大家推荐了10本文学类书籍<a href="http://www.jianshu.com/p/d67f7c3e576c"
                                    target="_blank">2017年，推荐你这10本好书（文学类）</a></p>
            <p>就像人的身体，要想长得又壮又健康，少不了蔬果和主食。人的思想要想长得「又壮又健康」：既少不了文学这样的蔬果，更少不了主食阅读——视野书、专业书的阅读。</p>
            <p>说是阅读，其实是学习，因为这类书往往放进了满满的知识。</p>
            <p><b>而知识远不是读一遍就能跳到脑子里去的，还需要消化、记笔记、实践。</b></p>
            <p>我下面推荐的10本书呢，全部是视野书、专业书，当然了，读来远不如小说那么轻松。</p>
            <p><b>但是你在学习过程中获得的知识，理解过程中对思维的训练，是无价的。</b></p>
            <p><b></b></p>
            <p>下面开始逐一介绍，10个领域里的10本好书。</p>
            <p><br></p>
            <p><b></b></p>
            <p><b></b></p>
            <blockquote><p><b>01</b><b>《为什么学生不喜欢上学》</b></p></blockquote>
            <p>豆瓣评分：9.4</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-bf5cf4f5b7e4f090.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-bf5cf4f5b7e4f090.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="bf5cf4f5b7e4f090" data-width="307" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：威廉厄姆</div>
            </div>
            <p>你若是因为它傻气的书名和地摊书似的封面，就觉得这本书是骗小孩的玩意……那可真是错过了一本绝世好书，「绝世」二字并没有夸张，因为这本书已经绝版了。</p>
            <p>这是一本学习心理学的集大成之作，只用了一百多页，却把学习心理学的主要研究成果，用通俗的语言给说了一遍。</p>
            <p>本书在豆瓣也是有9.4的高分，但这么好的书，为什么很少有人推荐呢？我个人觉得一个原因在于：</p>
            <p><b></b></p>
            <p><b>这本书把学习方法里几乎一切有启发的结论都给总结了。</b></p>
            <p>那些教学习方法的所谓导师、那些写学习方法的畅销书作者，要是推荐了这本书，呵，自己的东西就显得小巫见大巫了……为什么这本书放在第一本推荐？因为我希望大家在学习之前，先「学会学习」。</p>
            <p>书中还提到一个「背景知识」的概念，举个例子：</p>
            <p>如果我上来就读高等经济学的书，必然看得一头雾水……就是因为高等经济学，是建构在初等和中等经济学之上的，而我却没有后两者的背景知识，当然看不懂啦！</p>
            <p>而科学、哲学和数学，则是所有学科最底层的背景知识，也即「元知识」。</p>
            <p>关于科学和哲学，我下面推荐的3本书可以一读。</p>
            <p><br></p>
            <blockquote><p><b>02</b><b>《对伪心理学说不》</b></p></blockquote>
            <p>豆瓣评分：9.2</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-3fb45a29a6d4f230.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-3fb45a29a6d4f230.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="3fb45a29a6d4f230" data-width="430" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：基思·斯坦诺维奇</div>
            </div>
            <p>书名里虽然有「心理学」三个字，但这本书其实很大程度上讲的是科学方法。</p>
            <p><b>看完本书，你就知道到底什么是科学？什么是伪科学？</b></p>
            <p>比如弗洛伊德的理论是伪科学这一点，想必会让你吃惊，因为他的理论是「不可证伪」的，这在科学领域里是个十分重要的概念。</p>
            <p>为什么作者以心理学展开话题呢？我想是因为那些骗人的伪心理学实在太多了……比如各种占卜、星座还有很多灵修书籍，玩玩可以，当真可就太没大脑了。</p>
            <p><br></p>
            <blockquote><p><b>03</b><b>《哲学、科学、常识》</b></p></blockquote>
            <p>豆瓣评分：8.8</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-a82fab105df90b4e.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-a82fab105df90b4e.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="a82fab105df90b4e" data-width="350" data-height="350" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：陈嘉映</div>
            </div>
            <p>上一本书说的是科学的当前理论，而《哲学、科学、常识》则讲的是思想史，即：今天的科学如何成长为今天的模样？要弄明白这一点，必须追溯科学发展史，而科学，实际上脱胎于古希腊哲学。</p>
            <p>但是一般人很容易一看到「哲学」这两个字，就以为是极其玄奥高深的东西，我原先也有这样的看法。</p>
            <p><b>怪就怪作者陈嘉映的功力太深，把西方生硬的概念用符合中国人习惯的语言写了出来。</b></p>
            <p>你会发现，只要稍下功夫，亚里士多德、柏拉图等人的理论并不难理解。</p>
            <p>总得来说，这是一本科学哲学史，第一章和最后一章内容稍难，其余部分比较通俗，一些例子也很有趣，对于这类书而言算是很难得了。</p>
            <p><br></p>
            <blockquote><p><b>04</b><b>《控制论与科学方法论》</b></p></blockquote>
            <p>豆瓣评分：9.0</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-2c287fc7379db187.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-2c287fc7379db187.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="2c287fc7379db187" data-width="242" data-height="369" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：金观涛</div>
            </div>
            <p>我猜不少人一看到这个书名就崩溃了……再加上这黄黄的书皮，一副死板教科书的即视感。</p>
            <p><b>恰恰相反，这本书极其有趣。</b></p>
            <p>控制论大，大到整个生态系统；控制论小，小到你的伤风感冒。</p>
            <p>控制论的思想甚至拓展到整个科学领域，数学、物理学、生物学、化学、医学、经济学、社会学、计算机、军事……没错，和它都是亲戚。</p>
            <p>虽然书名看起来很死板，但作者的叙述却接地气得很，如果由于书名和书皮而错过这本书，可就太可惜了。</p>
            <p><br></p>
            <p><b>05</b><b>《语言学的邀请》</b></p>
            <p>豆瓣评分：9.2</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-fa2347d4bf8f9538.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-fa2347d4bf8f9538.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="fa2347d4bf8f9538" data-width="325" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：塞缪尔·早川</div>
            </div>
            <p>可以说，我们无时无刻不在用语言交流，比如我用语言写成这篇文章，而你又用语言理解我传达的意思。</p>
            <p><b>可你是否想过，语言的本质是什么？</b></p>
            <p>按常理，大家会觉得语言学这种冷僻的学科和生活离得很远，但本书绝对是个例外，《语言学的邀请》的原名是<i>《Language in Thought and Action》</i>，更倚重与讲语言和思想、行动的关系，并且翻译得很流畅，引用了很多中国人熟悉的例子，不甚有趣。
            </p>
            <p>最后引用序言所说：</p>
            <p>“我们既能读又能写，还要学说话吗？我们一出生就牙牙学语，学到如今还不够吗？谁不会说话，还学它干吗？还要读这本书？且慢，恐怕最需要读这本书的人便是那些自以为早已会说话的人。”</p>
            <p><br></p>
            <p><b>06</b><b>《社会学的邀请》</b></p>
            <p>豆瓣评分：8.8</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-c29f7249c4fe3c5f.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-c29f7249c4fe3c5f.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="c29f7249c4fe3c5f" data-width="430" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：乔恩·威特</div>
            </div>
            <p>我们常常说：现在的境况不好没关系，只要努力，就能成功。</p>
            <p>虽然这种话常用于给朋友或者给自己打气，但从社会学的角度来看，这句话本身的逻辑却是很成问题的，为什么呢？</p>
            <p>因为尽管个体的成就可以随着选择而改变，但个体能够获得的资源，可能碰上的障碍，却是由他的社会地位决定的。</p>
            <p>比如说，两位大学教授的女儿，就不太可能到肯德基做服务员。</p>
            <p>一个个的人构筑了社会，反过来社会也在影响人。</p>
            <p><b>面对个人问题，一般人想到的是个人的解决办法，由于视野的限制，站不到更大的图景里去审视个人行为。</b></p>
            <p>如果你愿意站到这个更大的图景里，那么就读这本《社会学的邀请》吧，思路非常清楚的社会学科普。</p>
            <p><br></p>
            <p><b>07</b><b>《经济学原理》</b></p>
            <p>豆瓣评分：9.4</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-0e2fc81777053000.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-0e2fc81777053000.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="0e2fc81777053000" data-width="430" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：曼昆</div>
            </div>
            <p>《经济学原理》是一本入门经济学的最佳教材，尽管上下册加起来有七八百页，为什么这么厚呢？</p>
            <p>就是因为，作者把经济学原理给你掰开揉碎了，讲得通俗易懂，用译者梁小民的话来说：</p>
            <p>曼昆的东西让你觉得，学经济学原来也是一种享受。</p>
            <p><br></p>
            <p><b>08</b><b>《人类简史》</b></p>
            <p>豆瓣评分：9.3</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-3f2cfb3fac76b956.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-3f2cfb3fac76b956.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="3f2cfb3fac76b956" data-width="430" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：尤瓦尔·赫拉利</div>
            </div>
            <p>很难想象，一本人类学的书竟从2014年畅销至今，只能说明这本书写得太好了。</p>
            <p>不仅是人类学，《人类简史》还涵盖了生物学、哲学、心理学、艺术、文学、伦理学等等学科。</p>
            <p>书里最让我震撼的观念是：</p>
            <p><b></b></p>
            <p><b>我们人类比猿猴高级的地方在于——只有人拥有创造虚构的能力。</b></p>
            <p>我们所谓的国家、民族、公司、法律、道德等等，皆是虚构，就是这些虚构的东西建构了人类文明。</p>
            <p>个中韵味，还是要读原书才体会的到~</p>
            <p><br></p>
            <p><b>09</b><b>《如何打造超级IP》</b></p>
            <p>豆瓣评分：7.7</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-b5db5b049b0b1022.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-b5db5b049b0b1022.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="b5db5b049b0b1022" data-width="430" data-height="403" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：秋叶、秦阳</div>
            </div>
            <p>这几年发展最快的行业是什么？毫无疑问——互联网。</p>
            <p>而IP，是一个从15年火到现在的概念，一个正在颠覆整个互联网商业格局的概念，一个帮助你打造个人品牌的概念……</p>
            <p>特别是对于互联网时代的个人，该怎样把握这个时代的机遇，去打造个人IP呢？说真的，这本书必须要看。</p>
            <p>有干货、有趣、有故事，非常接地气的一本书。</p>
            <p><br></p>
            <p><b>10</b><b>《智能时代》</b></p>
            <p>豆瓣评分：8.6</p>
            <div class="image-package">
                <img src="http://upload-images.jianshu.io/upload_images/1100931-78e0454c8e6af5bf.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
                     data-original-src="http://upload-images.jianshu.io/upload_images/1100931-78e0454c8e6af5bf.jpg?imageMogr2/auto-orient/strip"
                     data-image-slug="78e0454c8e6af5bf" data-width="430" data-height="430" style="cursor: zoom-in;"><br>
                <div class="image-caption">作者：吴军</div>
            </div>
            <p>从AlphaGo战胜李世石，到前段时间Master打败顶尖围棋高手赢得60连胜<i>（谷歌已经承认了Master其实就是当年的AlphaGo）</i>，关于人工智能的热议一波又一波，大多数人只是惊叹几句，就懒得再去了解了。
            </p>
            <p>而我们知道，未来一定是智能时代，这一点毫无疑问，有争议的只是时间问题。</p>
            <p>如果你觉得还早着呢，人工智能不就是那些机器人干的事吗？那是真的该看一下《智能时代》这本书。</p>
            <p>实际上，现在的人工智能，早已涉足了商业、体育、农业、制造业、医疗等等行业。</p>
            <p>未来，人工智能一定会越来越多地取代人的工作，甚至连记者、律师这样的职位，都可能要被取代。</p>
            <p>而这，并不遥远。</p>
            <hr>
            <p>总结一下，今天推荐的书，分别是10个领域里比较科普又有点智力挑战的书，包括：</p>
            <p>学习心理学、科学哲学、科学哲学史、控制论、语言学、社会学、经济学、人类学、互联网和人工智能。</p>
            <p>你可能会碰到一些阻碍。</p>
            <p><b>但是当你想办法克服的时候，其实就突破了舒适区，突破原有知识、思维和视野的限制，而达到一个新的高度。</b><b></b></p>
            <p>你敢挑战吗？</p>
        </div>
        <!--  -->

        <div class="show-foot">
            <a class="notebook" href="/nb/2240104">
                <i class="iconfont ic-search-notebook"></i> <span>聊书</span>
            </a>
            <div class="copyright" data-toggle="tooltip" data-html="true" data-original-title="转载请联系作者获得授权，并标注“简书作者”。">
                © 著作权归作者所有
            </div>
            <div class="modal-wrap" data-report-note="">
                <a id="report-modal">举报文章</a>
            </div>
        </div>



    </div>
</div>
<% if (page.comment || theme.page_comment) { %>
<%- partial('_partial/comments', {post: page}) %>
<% } %>