<div class="post">
    <div class="article">
        <h1 class="title"><%- post.title %></h1>

        <!-- 文章内容 -->
        <div class="show-content">
            <%- post.content %>
        </div>

        <div class="show-foot">
            <a class="notebook" href="/nb/2240104">
                <i class="iconfont ic-search-notebook"></i> <span>聊书</span>
            </a>
            <div class="copyright" data-toggle="tooltip" data-html="true" data-original-title="转载请联系作者获得授权，并标注“简书作者”。">
                © 著作权归作者所有
            </div>
            <div class="modal-wrap" data-report-note="">
                <a id="report-modal">举报文章</a>
            </div>
        </div>

    </div>
</div>
<%- partial('_partial/comments', {post: post}) %>