<footer class="footer">
    <div class="footer-inner">
        <p>
            <a href="https://lixianhua.com/archives.html" title="归档">归档</a>
            <a href="https://lixianhua.com/tags.html" title="标签">标签</a>
            <a href="https://lixianhua.com/links.html" title="链接">链接</a>
            <a href="https://lixianhua.com/guestbook.html" title="留言">留言</a>
            <a href="https://lixianhua.com/about.html" title="关于">关于</a>
        </p>
        <p>&copy; 2017 <a href="https://lixianhua.com/">绛木子</a>
            <em>·</em> <a href="http://www.typecho.org" target="_blank">Typecho</a>
            <em>·</em> <a href="http://www.miitbeian.gov.cn/" target="blank">赣ICP备10004449号-5</a>			<em>·</em> Theme By <a href="http://lixianhua.com/" target="_blank">绛木子</a>

        </p>
    </div>
</footer>