<!-- 左侧栏 -->
<div class="navbar navbar-jianshu expanded">
  <div class="dropdown">
    <a class="active logo" role="button" data-original-title="网站主页" data-container="div.expanded" href="#">
      <b>简</b><i class="fa fa-home"></i><span class="title">首页</span>
    </a>
    <a data-toggle="tooltip" data-placement="right" data-original-title="标签" data-container="div.expanded" href="#">
      <i class="fa fa-th"></i><span class="title">标签</span>
    </a>
    <a class="ad-selector" href="http://www.jianshu.com/apps">
      <i class="fa fa-mobile"></i><span class="title">下载手机应用</span>
    </a>
    <div class="ad-container " style="display: none;">
      <div class="ad-pop">
        <img class="ad-logo" src="./images/logo.png"/>
        <p class="ad-title">简书</p>
        <p class="ad-subtitle">交流故事，沟通想法</p>
        <img class="ad-qrcode" src="./images/download-app-qrcode.png"
             alt="Download app qrcode">
        <div>
          <a class="ad-link" href="https://itunes.apple.com/cn/app/jian-shu/id888237539?ls=1&amp;mt=8">iOS</a>·
          <a class="ad-link" href="http://downloads.jianshu.io/apps/haruki/JianShu-1.11.1.apk">Android</a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-user">
    <a href="http://www.jianshu.com/#view-mode-modal" data-toggle="modal"><i class="fa fa-font"></i><span
              class="title">显示模式</span></a>
    <a class="signin" data-signin-link="true" data-toggle="modal" data-placement="right" data-original-title="登录"
       data-container="div.expanded" href="http://www.jianshu.com/sign_in">
      <i class="fa fa-sign-in"></i><span class="title">登录</span>
    </a>
  </div>
</div>