<div class="span3 left-aside">
    <div class="cover-img" style="background-image: url(/images/defaultSiteDailyImg.jpg)"></div>
    <div class="bottom-block">
        <h1><%= theme.siteName %></h1>
        <h3><%= theme.siteSubtitle %></h3>
        <p><%= theme.siteDescription %></p>
        <a class="btn btn btn-large btn-success" id="write-button" data-signin-link="true" data-toggle="modal"
           href="<%= theme.pullRequestUrl %>">提笔写篇文章</a>
    </div>
    <div class="img-info">
        <i class="fa fa-info"></i>
        <div class="info">
            Photo by <a target="_blank" rel="nofollow" href="http://unsplash.com/">unsplash</a>
        </div>
    </div>
</div>