<!-- 小屏模式header -->
<div class="navbar navbar-jianshu shrink">
    <div class="dropdown">
        <a class="dropdown-toggle logo" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
           href="javascript:void(0)">IT</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="http://www.jianshu.com/"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="http://www.jianshu.com/collections"><i class="fa fa-th"></i> 专题</a></li>
            <li><a href="http://www.jianshu.com/user_invitations"><i class="fa fa-money"></i> 发钱啦</a></li>
        </ul>
    </div>
</div>
<!-- 用户相关 -->
<div class="navbar-user">
    <a class="login" data-signup-link="true" data-toggle="modal" href="http://www.jianshu.com/sign_up">
        <i class="fa fa-user"></i> 注册
    </a>
    <a class="login" data-signin-link="true" data-toggle="modal" href="http://www.jianshu.com/sign_in">
        <i class="fa fa-sign-in"></i> 登录
    </a> <a class="daytime set-view-mode pull-right" href="javascript:void(0)"><i class="fa fa-moon-o"></i></a>
</div>