<!-- 小屏模式header -->
<div class="navbar navbar-jianshu shrink">
    <div class="dropdown">
        <a class="dropdown-toggle logo" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
           href="javascript:void(0)"><%= theme.siteShortName %></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="<%= theme.siteUrl %>"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/archive"><i class="fa fa-archive"></i> 专题</a></li>
            <li><a href="<%= theme.donateUrl %>"><i class="fa fa-money"></i>打赏</a></li>
        </ul>
    </div>
</div>