<div id="post__share">
  <a id="icon-github" class="fontello" href="<%= theme.github %>" target="_blank"></a>
  <a id="icon-wechat" class="fontello" href="<%= theme.wechat %>" target="_blank"></a>
  <a id="icon-weibo" class="fontello" href="<%= theme.weibo %>" target="_blank"></a>
</div>